@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
body {
    background-color: rgb(250, 221, 226);
    margin: auto;
    align-items: center;
}

.container {
    width: 100%;
    padding: 10px 15px;
}

.cabecalho {
    height: 60px;
    background-color: rgb(255, 0, 0);
}

.menu {
    height: 53px;
    background: rgb(255, 255, 255);
    text-align: center;
}

.botao {
    width: 250px;
    padding: 18px 20px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: #FCC302;
}

* {
    margin: 0;
    padding: 0;
}

#img-home {
    width: 200px;
    height: 200px;
    margin: auto;
}

#img-logo {
    width: 70px;
    height: 70px;
}

.center {
    display: flex;
    justify-content: center;
}

.grade {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

#Nome_botao {
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}

#Nome-logo {
    color: white;
    font-size: 20pt;
    font-family: 'Press Start 2P', cursive;
}

.container,
.body-container {
    width: 70%;
    margin: 15px 15%;
}

.body-container {
    min-height: 80vh;
    align-items: center;
    width: 1305px;
    background-color: white;
}

footer {
    height: 50px;
    background-color: rgb(134, 134, 134);
    color: white;
    font-size: 14pt;
    text-align: center;
}

.slider {
    height: 293px;
    width: fit-content;
    margin-top: 20px;
    position: relative;
    grid-column-start: 3;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: 0 auto;
    height: 290px;
    width: 290px;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 0px;
    top: 300px;
}

.slider li:nth-child(2) label {
    left: 20px;
    top: 300px;
}

.slider li:nth-child(3) label {
    left: 40px;
    top: 300px;
}

.slider li:nth-child(4) label {
    left: 60px;
    top: 300px;
}

.slider li:nth-child(5) label {
    left: 80px;
    top: 300px;
}

.slider li:nth-child(6) label {
    left: 100px;
    top: 300px;
}

.slider li:nth-child(7) label {
    left: 120px;
    top: 300px;
}

.slider li:nth-child(8) label {
    left: 140px;
    top: 300px;
}

.slider li:nth-child(9) label {
    left: 160px;
    top: 300px;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}